<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>693335057521-58i8dminkgem8h6vdioo4a6uuto1p46p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.693335057521-58i8dminkgem8h6vdioo4a6uuto1p46p</string>
	<key>API_KEY</key>
	<string>AIzaSyDZtqsSPf8_d067jrHD7YnBCWoUUBpvemY</string>
	<key>GCM_SENDER_ID</key>
	<string>693335057521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.titef.copsalert</string>
	<key>PROJECT_ID</key>
	<string>cops-around-dc241</string>
	<key>STORAGE_BUCKET</key>
	<string>cops-around-dc241.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693335057521:ios:4087243f22482f92fea7d0</string>
	<key>DATABASE_URL</key>
	<string>https://cops-around-dc241.firebaseio.com</string>
</dict>
</plist>